<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test  name="Test">
  <parameter name="browser" value="chrome" />
  <parameter name="environment" value="dev" />
  
    <classes>
       <!-- <class name="testcases.TestEmployeeMaster"/>
      <class name="testcases.TestRole"/>
      <class name="testcases.TestActivity"/>-->
      <class name="testcases.TestEmployeeRoleMapping"/>


    </classes>
    </test>
</suite> <!-- Suite -->















